In [1]:
import pandas as pd
import numpy as np
import re
file_name = 'Energy Indicators.xls'

df_en = pd.DataFrame(pd.read_excel(file_name, usecols=range(2,6), names=['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']))

energy = df_en[17:244]
energy = energy.copy()
energy.iloc[:,1]=energy.iloc[:,1].where(energy.iloc[:,1]!='...')*1000000

energy.iloc[:,0] = energy.iloc[:,0].str.replace(r"[\d.]*", "", regex=True)
energy.iloc[:,0] = energy.iloc[:,0].str.replace(r"\s\(.*$", "", regex=True)
energy.replace('...', np.nan,inplace = True)

for idx,row in energy.iloc[:].iterrows():
    if row[0] == 'United States of America':
        energy.iloc[idx-17, 0] = 'United States'
    elif row[0] == 'Republic of Korea':
        energy.iloc[idx-17, 0] = 'South Korea'
    elif row[0] == 'United Kingdom of Great Britain and Northern Ireland':
        energy.iloc[idx-17, 0] = 'United Kingdom'
    elif row[0] == 'China, Hong Kong Special Administrative Region':
        energy.iloc[idx-17, 0] = 'Hong Kong'

energy.reset_index(drop=True)

,Country,Energy Supply,Energy Supply per Capita,% Renewable
0,Afghanistan,3.210000e+08,10.0,78.669280
1,Albania,1.020000e+08,35.0,100.000000
2,Algeria,1.959000e+09,51.0,0.551010
3,American Samoa,NaN,NaN,0.641026
4,Andorra,9.000000e+06,121.0,88.695650
...,...,...,...,...
222,Viet Nam,2.554000e+09,28.0,45.321520
223,Wallis and Futuna Islands,0.000000e+00,26.0,0.000000
224,Yemen,3.440000e+08,13.0,0.000000
225,Zambia,4.000000e+08,26.0,99.714670
226,Zimbabwe,4.800000e+08,32.0,52.536120

In [2]:
file_name_csv = 'world_bank.csv'

r = np.r_[4:60, 0]

GDP = pd.DataFrame(pd.read_csv(file_name_csv, sep=',', dtype = None, skiprows=4, usecols=r))

for idx,row in GDP.iloc[:].iterrows():
    if row[0] == 'Iran, Islamic Rep.':
        GDP.iloc[idx, 0] = 'Iran'
    elif row[0] == 'Korea, Rep.':
        GDP.iloc[idx, 0] = 'South Korea'
    elif row[0] == 'Hong Kong SAR, China':
        GDP.iloc[idx, 0] = 'Hong Kong'

GDP.rename(columns={'Country Name': 'Country'}, inplace = True)
GDP

,Country,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.469832e+09,2.677654e+09,2.843017e+09,2.553631e+09,2.453631e+09,2.637989e+09,2.615084e+09,2.727933e+09,2.791061e+09,2.963128e+09
1,Africa Eastern and Southern,2.129059e+10,2.180847e+10,2.370702e+10,2.821004e+10,2.611879e+10,2.968217e+10,3.223912e+10,3.351455e+10,3.652148e+10,...,5.759214e+11,6.611793e+11,7.082869e+11,7.192167e+11,8.604783e+11,9.644185e+11,9.730435e+11,9.839370e+11,1.003679e+12,9.242525e+11
2,Afghanistan,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,1.400000e+09,1.673333e+09,1.373333e+09,...,6.971286e+09,9.747880e+09,1.010931e+10,1.241616e+10,1.585668e+10,1.780511e+10,1.990732e+10,2.014640e+10,2.049713e+10,1.913421e+10
3,Africa Western and Central,1.040414e+10,1.112789e+10,1.194319e+10,1.267633e+10,1.383837e+10,1.486223e+10,1.583259e+10,1.442604e+10,1.488035e+10,...,3.933052e+11,4.617914e+11,5.664808e+11,5.070436e+11,5.915958e+11,6.709830e+11,7.275704e+11,8.207927e+11,8.649905e+11,7.607345e+11
4,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.238101e+10,6.526645e+10,8.853861e+10,7.030717e+10,8.169956e+10,1.094365e+11,1.249982e+11,1.334016e+11,1.372444e+11,8.721929e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,5.181777e+09,5.015895e+09,5.344014e+09,6.341737e+09,6.163785e+09,6.735731e+09,7.074658e+09,6.295820e+09
262,"Yemen, Rep.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.906198e+10,2.165053e+10,2.691085e+10,2.513027e+10,3.090675e+10,3.272642e+10,3.540134e+10,4.041524e+10,4.322859e+10,4.244450e+10
263,South Africa,8.748597e+09,9.225996e+09,9.813996e+09,1.085420e+10,1.195600e+10,1.306899e+10,1.421139e+10,1.582139e+10,1.712479e+10,...,3.038609e+11,3.330755e+11,3.161321e+11,3.297530e+11,4.173651e+11,4.582015e+11,4.344005e+11,4.008860e+11,3.811989e+11,3.467098e+11
264,Zambia,7.130000e+08,6.962857e+08,6.931429e+08,7.187143e+08,8.394286e+08,1.082857e+09,1.264286e+09,1.368000e+09,1.605857e+09,...,1.275686e+10,1.405696e+10,1.791086e+10,1.532834e+10,2.026556e+10,2.345952e+10,2.550306e+10,2.803724e+10,2.714102e+10,2.125122e+10
265,Zimbabwe,1.052990e+09,1.096647e+09,1.117602e+09,1.159512e+09,1.217138e+09,1.311436e+09,1.281750e+09,1.397002e+09,1.479600e+09,...,5.443896e+09,5.291950e+09,4.415703e+09,9.665793e+09,1.204166e+10,1.410192e+10,1.711485e+10,1.909102e+10,1.949552e+10,1.996312e+10

In [3]:
file_name_x = 'scimagojr.xlsx'
ScimEn = pd.DataFrame(pd.read_excel(file_name_x ))

In [4]:
def answer_one():
    gdp_col = ['Country', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']
    ScimEn_col = ['Country', 'Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations', 'Citations per document', 'H index']

    result = pd.merge(pd.merge(GDP[gdp_col], ScimEn[ScimEn_col], how = 'outer', on = 'Country'), 
         energy, how = 'outer', on = 'Country').set_index(['Country'])
    result = result.loc[result['Rank'] < 16]
    result = result.sort_values(['Rank'])
    return result

In [5]:
answer_one()

,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable
Country,,,,,,,,,,,,,,,,,,,,
China,2.752132e+12,3.550343e+12,4.594307e+12,5.101703e+12,6.087164e+12,7.551500e+12,8.532230e+12,9.570406e+12,1.047568e+13,1.106155e+13,1.0,303064.0,301778.0,3036531.0,2092737.0,10.02,273.0,1.271910e+11,93.0,19.754910
United States,1.381559e+13,1.447423e+13,1.476986e+13,1.447806e+13,1.504896e+13,1.559973e+13,1.625397e+13,1.684319e+13,1.755068e+13,1.820602e+13,2.0,184851.0,181106.0,2623922.0,819242.0,14.19,389.0,9.083800e+10,286.0,11.570980
India,9.402599e+11,1.216735e+12,1.198896e+12,1.341887e+12,1.675615e+12,1.823050e+12,1.827638e+12,1.856722e+12,2.039127e+12,2.103588e+12,3.0,60257.0,58589.0,590570.0,213760.0,9.80,198.0,3.319500e+10,26.0,14.969080
Japan,4.601663e+12,4.579751e+12,5.106679e+12,5.289493e+12,5.759072e+12,6.233147e+12,6.272363e+12,5.212328e+12,4.896994e+12,4.444931e+12,4.0,52780.0,52281.0,557023.0,132113.0,10.55,203.0,1.898400e+10,149.0,10.232820
United Kingdom,2.717060e+12,3.106182e+12,2.938882e+12,2.425798e+12,2.491110e+12,2.674891e+12,2.719158e+12,2.803291e+12,3.087166e+12,2.956574e+12,5.0,47141.0,45928.0,748994.0,132737.0,15.89,244.0,7.920000e+09,124.0,10.600470
Germany,2.994704e+12,3.425578e+12,3.745264e+12,3.411261e+12,3.399668e+12,3.749315e+12,3.527143e+12,3.733805e+12,3.889093e+12,3.357586e+12,6.0,42343.0,41464.0,528645.0,115432.0,12.48,211.0,1.326100e+10,165.0,17.901530
Russian Federation,9.899305e+11,1.299706e+12,1.660846e+12,1.222644e+12,1.524917e+12,2.045926e+12,2.208296e+12,2.292473e+12,2.059242e+12,1.363481e+12,7.0,39424.0,39189.0,142937.0,67935.0,3.63,96.0,3.070900e+10,214.0,17.288680
Canada,1.319265e+12,1.468820e+12,1.552990e+12,1.374625e+12,1.617343e+12,1.793327e+12,1.828366e+12,1.846597e+12,1.805750e+12,1.556509e+12,8.0,35588.0,34940.0,665415.0,113363.0,18.70,246.0,1.043100e+10,296.0,61.945430
Italy,1.949552e+12,2.213102e+12,2.408655e+12,2.199929e+12,2.136100e+12,2.294994e+12,2.086958e+12,2.141924e+12,2.162010e+12,1.836638e+12,9.0,31260.0,29959.0,433388.0,105641.0,13.86,177.0,6.530000e+09,109.0,33.667230
South Korea,1.053217e+12,1.172614e+12,1.047339e+12,9.439419e+11,1.144067e+12,1.253223e+12,1.278428e+12,1.370795e+12,1.484318e+12,1.465773e+12,10.0,31200.0,30949.0,405923.0,74753.0,13.01,169.0,1.100700e+10,221.0,2.279353
France,2.320536e+12,2.660591e+12,2.930304e+12,2.700887e+12,2.645188e+12,2.865158e+12,2.683672e+12,2.811877e+12,2.855964e+12,2.439189e+12,11.0,26848.0,26320.0,403834.0,73792.0,15.04,190.0,1.059700e+10,166.0,17.020280
Iran,2.662989e+11,3.498816e+11,4.123362e+11,4.163970e+11,4.868076e+11,6.261331e+11,6.440355e+11,4.927756e+11,4.603828e+11,4.082129e+11,12.0,25481.0,25204.0,398571.0,122647.0,15.64,159.0,9.172000e+09,119.0,5.707721
Spain,1.260399e+12,1.474003e+12,1.631863e+12,1.491473e+12,1.422108e+12,1.480710e+12,1.324744e+12,1.355143e+12,1.371223e+12,1.195600e+12,13.0,24969.0,24505.0,427391.0,77583.0,17.12,187.0,4.923000e+09,106.0,37.968590
Brazil,1.107627e+12,1.397114e+12,1.695855e+12,1.666996e+12,2.208838e+12,2.616157e+12,2.465228e+12,2.472819e+12,2.456044e+12,1.802212e+12,14.0,23110.0,22762.0,219895.0,53635.0,9.52,139.0,1.214900e+10,59.0,69.648030
Australia,7.475562e+11,8.539554e+11,1.055127e+12,9.280430e+11,1.147589e+12,1.397908e+12,1.546509e+12,1.576335e+12,1.467505e+12,1.350534e+12,15.0,22803.0,22276.0,396186.0,62694.0,17.37,192.0,5.386000e+09,231.0,11.810810

In [6]:
def answer_two():
    Top15 = answer_one()
    years = []
    for i in range(2006,2015):
        years.append(str(i))
        
    avgGDP = pd.Series(Top15[years].mean(axis=1))
    avgGDP.sort_values(ascending=False, inplace=True)
    return avgGDP

In [7]:
answer_two()

Country
United States         1.542603e+13
China                 6.468385e+12
Japan                 5.327943e+12
Germany               3.541759e+12
United Kingdom        2.773727e+12
France                2.719353e+12
Italy                 2.177025e+12
Brazil                2.009631e+12
Russian Federation    1.700442e+12
Canada                1.623009e+12
India                 1.546659e+12
Spain                 1.423518e+12
South Korea           1.194216e+12
Australia             1.191170e+12
Iran                  4.616720e+11
dtype: float64

In [8]:
def answer_three():
    col = ['2006', '2015', 0]
    res_two = pd.DataFrame(answer_two())
    t = pd.merge(answer_one(), res_two, how = 'outer', on = 'Country')
    t = t[col].sort_values(by=0, ascending=False)[0:6]
    y2006 = t['2006'].sum(axis=0)
    y2015 = t['2015'].sum(axis=0)
    res = y2015 - y2006
    return res

In [9]:
answer_three()

13264171109142.328

In [10]:
def answer_four():
    cit = ScimEn[['Country', 'Self-citations', 'Citations']]
    col = ['Country', 'rate']
    cit = cit.copy()
    cit['rate'] = cit['Self-citations'] / cit['Citations']
    cit = cit[col]
    cit = cit[col].sort_values(by='rate', ascending=False)[0:1]
    tup = tuple(cit.iloc[0, :])
    return tup

In [11]:
answer_four()

('Antigua and Barbuda', 1.0)

In [12]:
def answer_five():
    country = energy[['Country', 'Energy Supply', 'Energy Supply per Capita']]
    country['person'] = country['Energy Supply']/country['Energy Supply per Capita']
    country = country.sort_values(by='person', ascending=False)[2:3]
    answ = country.iloc[0, 0]
    return answ

In [13]:
answer_five()

'United States'

In [14]:
def answer_six():
    person = energy[['Country', 'Energy Supply', 'Energy Supply per Capita']]
    person['population'] = person['Energy Supply']/person['Energy Supply per Capita']
    
    res = pd.merge(person, ScimEn, how = 'outer', on = 'Country')
    
    res['citable documents per person'] = res['Citable documents']/res['population'].where(res['population']!=0)
    
    cor = res['citable documents per person'].corr(res['Energy Supply per Capita'])
    return cor

In [15]:
answer_six()

0.5432961884369593

In [16]:
def answer_seven():
    Top15 = answer_one()
    ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
    groups = pd.DataFrame(columns = ['size', 'sum', 'mean', 'std'])
    Top15['Population'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    for group, frame in Top15.groupby(ContinentDict):
        groups.loc[group] = [len(frame), frame['Population'].sum(),frame['Population'].mean(),frame['Population'].std()]
    return groups

In [17]:
answer_seven()

               size           sum          mean           std
Asia            5.0  2.898666e+09  5.797333e+08  6.790979e+08
Australia       1.0  2.331602e+07  2.331602e+07           NaN
Europe          6.0  4.579297e+08  7.632161e+07  3.464767e+07
North America   2.0  3.528552e+08  1.764276e+08  1.996696e+08
South America   1.0  2.059153e+08  2.059153e+08           NaN